.mainColor {
  background-color: #f8ede3;
}

.secondaryColor {
  background-color: #df9596;
}

.secondaryColorDark {
  background-color: #b96b6d;
}

.fontNavbar {
  font-weight: bolder;
}

.logo {
  margin-left: 2rem;
}

.background {
  background: linear-gradient(
      rgba(248, 237, 227, 0.8),
      rgba(248, 237, 227, 0.6)
    ),
    url(../images/bg\ 2.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.click:hover {
  background-color: #cb6c6e;
}

.gutter {
  row-gap: 5rem;
}

.bg2 {
  background: linear-gradient(
      rgba(248, 237, 227, 0.3),
      rgba(248, 237, 227, 0.3)
    ),
    url(../images/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.iconColor {
  color: #df9596;
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .w-50 {
    width: 50% !important;
  }
}

.sub-list {
  display: none;
  margin-left: 20px;
}
.active + .sub-list {
  display: block;
}

.cursor {
  cursor: pointer;
}
